@font-face {
    font-family: "bloody";
    src: url("BloodLust.ttf");
}
body {
	background: url("http://www.drodd.com/images13/scary-halloween-wallpaper17.jpg") no-repeat;
	background-size: 100%
}

body.container-fluid {
	padding:0;
}

.BannerYo {
	padding: 0;
}
h1 {
	background-color: black;
	padding: 60px 0;
	margin: 0;
	font-family: bloody;
	font-size: 55px;
	color: red;
	text-shadow: 0 0 10px green;
}

.waves {
	width: 50%;
	float:right;
}

#article1 {
	background-color: gray;
	color: white;
}

footer {
	text-align: center;
	color: lightgrey;
	font-size: 10px;
}

.footer {
	display: inline;
}